@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Outfit', sans-serif;
  background-color: #f8fafc;
  -webkit-font-smoothing: antialiased;
}

/* Hide scrollbars but keep functionality for a cleaner UI */
.hide-scrollbar::-webkit-scrollbar { 
  display: none; 
}
.hide-scrollbar { 
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Smooth scrolling for the whole app */
html {
  scroll-behavior: smooth;
}